<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div id="index" class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        {{partial "textprocessing.html" . }}
        {{if $.Site.Data.config.enableRecentNotes}}
          {{partial "recent.html" . }}
          <a href="https://mattiaippoliti.github.io/article/notes/" >See {{sub (len $notes) 2}} more →</a>
        {{end}}
    </article>
    {{partial "footerIndex.html" .}}
</div>
</body>
</html>
